body {
  background: #111;
  color: white;
  font-family: Arial;
  padding: 20px;
}

h1 {
  text-align: center;
}

.tier {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.red { background: #8b0000; }
.orange { background: #ff6600; }
.yellow { background: #999900; }
.green { background: #006600; }
.blue { background: #0044cc; }
.purple { background: #660099; }
.black { background: #222; }
.gold { background: goldenrod; }
.silver { background: gray; }
.fire {
  background: linear-gradient(to right, red, orange, yellow);
  color: black;
}
.background {
  position: fixed;
  width: 100%;
  hei
}
